<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>[%-6level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %class{0} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Defaults From SpringBoot -->
    <logger name="org.apache.catalina.startup.DigesterFactory" level="ERROR"/>
    <logger name="org.apache.catalina.util.LifecycleBase" level="ERROR"/>
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN"/>
    <logger name="org.apache.sshd.common.util.SecurityUtils" level="WARN"/>
    <logger name="org.apache.tomcat.util.net.NioSelectorPool" level="WARN"/>
    <logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="ERROR"/>
    <logger name="org.hibernate.validator.internal.util.Version" level="WARN"/>

    <!-- Turn off Logging on Hibernate -->
    <logger name="org.hibernate" level="OFF"/>

    <!-- Root Logging For dynaroom -->
    <logger name="com.kdyncs.dynaroom" level="INFO"/>

    <!-- Root Stuff -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>